.table{ 
    th{border-top: none;border-bottom:2px solid #dee2e6; }
    td{border-top: 1.5px solid #CDDDCD;}
}
.modal-body{
    img{
       width: 141px;
       height: 141px;
       object-fit:cover;
    }
}
.page-link{  
    color:#121212;
    border: 1px solid #2A8356;}
.page-link:hover {
    color:#fff;
    background-color: #2A8356;
    border-color: #2A8356;
}   